@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --base-black-color: black;
    --base-white-color: white;
    --base-font-weight: 400;
    --sec-font-weight: 700;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul, li{
    margin: 0px;
}

li{
  list-style-type: none;

}

ul{
  padding: 0px;
}

button{
    background-color: inherit;
    border: 0px;
}

.white-button{
  border: 1px solid var(--base-black-color);
  color: var(--base-black-color);
  padding: 12px 24px;
}

.black-button{
  background: var(--base-black-color);
  color: var(--base-white-color);
  border: 1px solid var(--base-black-color);

}

header{
  position: fixed;
  background: var(--base-white-color);
  width: 100%;
  z-index: 5;
  box-shadow: -12px -4px 5px 5px;
  opacity: 0.95;

}

.header-content{
  max-width: 1440px;
  margin: 0px auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo{
  width: 50px;
  height: 50px;
}

.header-list ul{
  display: flex;
  gap: 32px;
  font-size: 16px;
  
  font-weight: var(--base-font-weight);
}

.header-button-group{
  display: flex;
  
  font-size: 16px;
  align-items: center;
  gap: 16px;
}
.header-button-group a{
  padding: 10px 20px;
}

.burger-menu{
  display: none;
}

.burger-menu img{
  width: 35px;
  height: 35px;
}

.home-section{
  background: url(/src/imgs/backgrounds/home-background.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.home-section-content{
  align-content: center;

  margin: 0px auto;
  max-width: 1440px;
  padding: 0px 20px;
}

.home-section-title-block{
  max-width: 560px;
  display: flex;
  flex-direction: column;
  gap: 24px;

}

.home-section-title-block h1{
  font-size: 56px;
  
  font-weight: var(--sec-font-weight);
  
} 

.home-section-title-block p{
  font-weight: var(--base-font-weight);
  
  font-size: 18px;
}

.home-section-button-group a{
  padding: 15px 24px;
  font-size: 16px;
  font-weight: var(--base-font-weight);
  
  
}

.home-section-button-group{
  display: flex;
  gap: 16px;
}

.your-vision{
  max-width: 1440px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 112px 20px;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
}

.your-vision-text-content{
  max-width: 615px;
  
  display: flex;
  flex-direction: column;
  gap: 24px;
}



.your-vision-text-content p{
  font-size:clamp(16px, 1.25vw, 18px);
  font-weight: var(--base-font-weight);
}

.your-vision-text-content h2{
  font-size: clamp(40px, 3.33vw, 48px);
}

.your-vision-button-group .white-button{
  padding: 15px 24px;
}

.your-vision-button-group a:last-child{
  font-size: 18px;
  font-weight: var(--base-font-weight);
}

.your-vision-button-group{
  display: flex;
  gap: 24px;
  align-items: center;
}

.your-vision-hero-img{
  width: 40%;
  height: auto;
}

.expertrenovation{
  
  margin: 0px auto;
  max-width: 1440px;
}
.expertrenovation-left-block{
  border: 1px solid var(--base-black-color);
  display: flex;
  align-items: center;
  gap: 62px;
  flex-wrap: wrap;
  box-shadow: 8px 8px 12px 0px;

}



.expertrenovation-left-block-img{
  width: 320px;
  height: auto;
}
.expertrenovation-block-img{
  width: 100%;
  height: auto;
}

.expertrenovation-content{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.expertrenovation-block{
  border: 1px solid var(--base-black-color);
  width: 305px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 8px 8px 12px 0px;

  
}

.expertrenovation-left-block-text-content{
  max-width: 235px;
  padding: 20px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expertrenovation-left-block-text-content h3, .expertrenovation-block h3{
  font-weight: var(--sec-font-weight);
  font-size: clamp(20px, 1.66vw,24px)24px;
}
.expertrenovation-left-block-text-content p, .expertrenovation-left-block-text-content a, .expertrenovation-block p{
  font-weight: var(--base-font-weight);
  font-size: 16px;
  
}

.expertrenovation-block-text-content{
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expertrenovation-title h2{
  font-size: clamp(36px, 3.33vw, 48px);
  text-align: center;
}

.expertrenovation-title p{
  font-size: clamp(16px, 1.25vw, 18px);
  text-align: center;
}

.expertrenovation-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.expertrenovation{
  display: flex;
  align-items: center;
  gap: 24px;
  flex-direction: column;
  padding: 0px 20px;
}

.expertrenovation-content{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.renovationprocces{
  margin: 0px auto;
  max-width: 1440px;
  padding: 112px 20px;
  display: flex;
  
  justify-content: space-between;
  gap: 20px;
}

.renovation-aside-textblock h2{
  font-size: clamp(36px, 3.33vw, 48px);

}

.renovation-aside-textblock p{
  font-size: clamp(16px, 1.25vw, 18px);
}

.renovation-aside-textblock-button-group .white-button{
  padding: 15px 24px;
}

.renovation-aside-textblock-button-group{
  display: flex;
  gap: 24px;
  align-items: center;
}

.renovation-aside-textblock{
  max-width: 570px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.renovationprocces-step h3{
  font-size: clamp(32px, 2.77vw,40px);
}

.renovationprocces-step h4{
  font-size: clamp(24px, 2.22vw,32px);
}

.renovationprocces-step p{
  font-size: clamp(16px, 1.25vw, 18px);
}

.renovation-button-group{
  display: flex;
  gap: 24px;
  align-items: center;
}

.renovation-button-group .white-button{
  padding: 12px 24px;
}

.renovationprocces-step{
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 580px;
  position: relative;
}

.renovationprocces-steps{
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;

}

.renovationprocces-steps::before{
  content: "";
  height: 100%;
  width: 2px;
  background: var(--base-black-color);
  position: absolute;
  border-radius: 1px;
  left: -35px;
  
}

.renovationprocces-step::before{
  content: "";
  background-color: var(--base-black-color);
  height: 15px;
  width: 15px;
  position: absolute;
  border-radius: 50%;
  left: -41.5px;
  top: 10px;
}

.renovationprocces-step-img{
  width: 100%;
}



.swiper-text-content{
  font-weight: var(--sec-font-weight);
  font-size: clamp(20px, 1.66vw, 24px);
  max-width: 770px;
}

.name-section h4{
  font-size: 16px;
  text-align: center;
}

.name-section h4:last-child{
  font-weight: var(--base-font-weight);
}

.reqest{
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px 20px;

}

.swiper-navigation{
  gap: 24px;
}

.swiper-button-prev, .swiper-button-next{
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 10px;
  display: flex;
}

.example-list-item{
  
}

.examples{
  max-width: 1440px;
  margin: 0px auto;
  padding: 20px;
}

.example-list-item-img{
  width: 100%;
  height: auto;

}

.example-list-item-main-content h3{
  font-size: clamp(20px, 1.66vw, 24px);
  font-weight: var(--sec-font-weight);
}

.example-list-item-main-content h4{
  font-size: 16px;
  font-weight: var(--base-font-weight);
  max-width: 335px;
}

.example-list-item-main-content{
  display: flex;
  align-items: start;
  justify-content: space-between;

}

.examples-list ul{
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}

.example-list-item{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 80%;
}

.example-list-item-main-content .text{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.examples-title{
  font-size: clamp(36px, 3.33vw, 48px);
  text-align: center;
}

.examples{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.transformspace-text-content .text h2{
  font-size: clamp(36px, 3.33vw, 48px);
}

.transformspace-text-content .text p{
  font-size: clamp(16px, 1.25vw, 18px);
}

.quality-expertise .block h2{
  font-size: clamp(36px, 3.33vw, 48px);
}

.quality-expertise .block p{
  font-size: 16px;
} 

.transformspace{
  display: flex;
  margin: 0px auto;
  padding: 0px 20px;
  max-width: 1440px;
  justify-content: space-between;
  gap: 80px;
  align-items: center;
  padding-block: 112px;
}

.quality-expertise{
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.transformspace-text-content{
  width: 50%;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.transformspace-text-content .button-group{
  display: flex;
  gap: 24px;
  align-items: center;
}

.example-img{
  width: 40%;
  height: auto;
}

footer{
  width: calc(100% - 40px);
  margin: 0px auto;
  max-width: 1440px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

hr{
  width: 100%;
  height: 1px;
  background-color: black;
}
/*----------------------------------------------------------hover*/
.header-list-item:hover{
  transform: translateY(-5px);
  color: gray;
}

.header-list-item{
  transition: 0.5s ease all;
}

.header-list ul li:last-child:hover .dropdown-content{
  display: block;
}

.header-list ul li:last-child:hover{
  cursor: default;
}

.header-list ul li:last-child:hover img{
  transform: rotate(90deg);
}

.white-button:hover{
  background: black;
  color: white;

}

.white-button{
  transition: 0.3s all ease;
}

.black-button:hover{
  background: white;
  border: 1px solid black;
  color: black;
}

.black-button{
  transition: 0.3s ease all;
}
/*--------------------------------------dropdown*/
.dropdown-content{
  background-color: white;
  box-shadow: 1px 0px 12px 3px;
  padding: 10px;
  position: absolute;
  display: none;


}
.dropdown-content nav ul{
  display: flex;
  flex-direction: column;
  
}

.header-list ul li:last-child img{
  transition: 0.5s ease all;
}

.burger-drop{
  background: white;
  border-radius: 0px 0px 20px 20px;
  position: absolute;
  width: calc(100% - 40px);
}

.burger-drop ul{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.your-vision-button-group a{
  position: relative;
}

.your-vision-hero-img{
  transition: 0.5s all ease;
  position: relative;

}

.burgerdropdown{
  position: fixed;
  background: white;
  transform: translateY(-5000px);
  transition: 0.5s all ease;
  z-index: 4;
  width: calc(100% - 40px);
  padding: 70px 20px;
  height: 100vh;

}/*@svetakkkks*/

.burgerdropdown.active{
  transform: translateX(0px);
}

.burgerdropdown ul{
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-width: 200px;
}

.burgerdropdown a{
  font-size: 20px;
}

.burgerdropdown nav{
  padding: 50px 0;
}

.burger-button-group{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.burger-button-group a{
  width: calc(100% - 48px);
  text-align: center;
}

.burger-button-group .black-button{
  width: calc(100% - 48px);
  padding: 12px 24px;
}

.burger-long-line{
  width: 28px;
  height: 2px;
  background: var(--base-black-color);
  display: block;
  border-radius: 30px;
  transition: 0.5s all ease;
}

.burger-medium-line{
  width: 28px;
  height: 2px;
  background: var(--base-black-color);
  display: block;
  border-radius: 30px;
  transition: 0.5s all ease;
}

.burger-menu.active .burger-medium-line{
  display: none;
}

.burger-menu.active .burger-long-line:nth-child(1){
  position: absolute;
  transform: rotate(45deg);
}

.burger-menu.active .burger-long-line:nth-child(3){
  position: absolute;
  transform: rotate(-45deg);

}

.burger-menu.active{
  gap: 0px;
  position: relative;
}

.person-data-line{
  width: 1px;
  height: 100%;
  background-color: var(--base-black-color);
  height: 50px;

}

.swiper-comment-description{
  font-weight: 800;
  font-size: 28px;
}

.swiper-name{
  font-weight: 600;
  
}

.comments{
  padding: 112px 0;
}

.comments-content{
  display: flex;
  flex-direction: column;
  gap: 48px;
}


@media(max-width: 1302px){
  .expertrenovation-content{
    justify-content: center;
    gap: 25px;
  }


  .renovationprocces{
    flex-direction: column;
    align-items: center;
  }

  .renovationprocces-step{
    max-width: 500px;
  }


}
@media(max-width:870px){
  .home-section-title-block h1{
    font-size: clamp(40px, 3.88vw, 56px);
  }

  .home-section-title-block p{
    font-size: clamp(16px, 1.25vw, 18px);
  }

  .your-vision-hero-img{
    width: 550px;
    height: auto;
  }

  .your-vision{
    flex-wrap: wrap;
  }

  .your-vision{
    justify-content: center;
  }

  .your-vision-text-content p{
    max-width: 550px;
  }
  .your-vision-text-content h2{
    max-width: 550px;
  }

  .example-list-item{
    width: 100%;
    height: auto;
  
  }

  .example-img{
    width: 80%;
  }

  .transformspace{
    flex-direction: column;
  }

  .transformspace-text-content{
    width: 100%;
  }

  .example-img{
    width: 75%;
  }
}
@media(max-width:678px){
  .expertrenovation-left-block{
    max-width: 307px;
  }

  .expertrenovation-left-block-img{
    max-width: 100%;
  }

  .renovationprocces-step{
    max-width: none;
    width: 100%;
  }

  .renovationprocces-steps::before{
    left: -15px;
    
  }
  
  .renovationprocces-step::before{
    left: -21.5px;
  }

  .renovationprocces-steps{
    width: 80%;
  }

  .example-list-item-main-content{
    flex-direction: column;
    gap: 24px;
  }

  .examples{
    gap: 48px;
  }

  .example-img{
    width: 100%;
  }

  .transformspace{
    gap: 48px;
  }

  .burger-menu{
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: flex-end;
  }

  .header-list{
    display: none;
  }

  .header-button-group{
    display: none;
  }

  
}
@media(max-width: 390px){
  .renovationprocces-steps{
    max-width: 250px;
    width: 100%;
  }
  .your-vision-hero-img{
    width: 100%;
    height: auto;
  }

  .your-vision, .home-section-content, .header-content{
    padding-left: 10px;
    padding-right: 10px;
  }
  .expertrenovation{
    padding: 0px 10px;
  }

  .examples{
    padding: 0px 10px;
  }
  
  .transformspace{
    padding-inline: 10px;
  }

}


/* box-shadow: 2px 2px 2px 2px black;<section class="reqest">
        <div class="swiper">

          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <img /src="/src/imgs/icons/Stars.svg">
                <p class="swiper-text-content">"The team transformed our outdated office into a modern workspace that inspires creativity. Their attention to detail and professionalism exceeded our expectations!"</p>
              <div class="name-section">
                <h4>John Doe</h4>
                <h4>Project Manager, TechCorp</h4>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
              <img /src="/src/imgs/icons/Stars.svg">
                <p class="swiper-text-content">"The team transformed our outdated office into a modern workspace that inspires creativity. Their attention to detail and professionalism exceeded our expectations!"</p>
              <div class="name-section">
                <h4>John Doe</h4>
                <h4>Project Manager, TechCorp</h4>
              </div>
            </div>
            </div>
          </div>
          <div class="swiper-slide">
            <img /src="/src/imgs/icons/Stars.svg">
              <p class="swiper-text-content">"The team transformed our outdated office into a modern workspace that inspires creativity. Their attention to detail and professionalism exceeded our expectations!"</p>
            <div class="name-section">
              <h4>John Doe</h4>
              <h4>Project Manager, TechCorp</h4>
            </div>
          </div>
          </div>
        </div>
        </div>
        <div class="swiper-navigation">
          <div class="swiper-button-prev"><img /src="/src/imgs/icons/swiperarow.svg"></div>
          <div class="swiper-button-next"><img /src="/src/imgs/icons/swiperarow.svg" style="transform: rotate(180deg);"></div>
        </div>
        <script /src="/swiper.js" type="module"></script>
      </section>*/